
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
            
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(20, 33, 55);
}

.blogPost div {
    margin: 20px;
    /* El recuento de columnas  */
    column-count: 3;
    column-count: 3;
    /* El espacio entre columnas  */
    column-gap: 22px;
    column-gap: 22px;
}
         
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    background-color:   rgb(26, 106, 143);
}

/* logo y barra de busqueda */        
.container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
            
.logo {
    width: 220px;
    height: 60px;
    border-radius: 0px;
    margin-right: 10px;
}
            
.login li a:hover {
    color: #b0acac;
    transition: all .5s
}

/*Menu y submenu*/          
.menu>li>a {
    display: flex;
    padding:0px 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
}
            
/* Slider */       
.banner {
    width: 97%;
    height: 500px;
    margin: 20px;
    background-size: 100% 100%;
   
    animation: banner 8s infinite;
    animation-direction: alternate;
}
  
@keyframes banner {
    0%, 30% {
      background-image: url(https://s3.amazonaws.com/elcomun/imagenes/1611091628.jpg);
      opacity: 1;
    }
    31%,
    34% {
      opacity: 0.1;
    }
    35%,
    65% {
      background-image: url(https://images.pexels.com/photos/2158060/pexels-photo-2158060.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      opacity: 1;
    }
    66%,
    69% {
      opacity: 0.1;
    }
    70%,
    100% {
      opacity: 1;
      background-image: url(https://images.pexels.com/photos/117137/pexels-photo-117137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
}

/* columnas */
h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: underline;
}

.columnas{
    background-color: rgb(20, 33, 55);
    height: 400px;
}
.columna1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: left;
    float:left;
    width: 450px;
    height: 300px;
    margin: 25px;
    margin-left: 30px;
    border: 0px solid;
    border-radius: 20px;
}

.columna2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: center;
    float: left;
    width: 450px;
    height: 300px;
    margin: 25px;
    border: 0px solid;
    border-radius: 20px;
}

.columna3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: right;
    float:left;
    width:450px;
    height: 300px;
    margin: 25px;
    border: 0px solid;
    border-radius: 20px;
}

h3{
    color: rgb(255, 251, 251);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

p{
    margin-top: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 30px;
    margin-bottom: 0px;

}

.soporte{
columns: 2;
}

#map{
    margin-bottom: 0;
    margin: 15px;
    margin-right: 0px;
    display: flex;
    width: 738px;
    height: 420px;
    margin-bottom: 15px;
    position: left;
    
}

#contact{
    background-color: rgb(20, 33, 55);
    text-align: center;
    color: #000;
    position: left;
    float:left;
    width: 738px;
    height: 420px;
    margin-top: 15px;
    border: 0px solid;
  
}

h4{
    color: rgb(250, 193, 3);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 20px;
}
/* p{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
} */

table {     
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;;
    margin-left: 25px;
    width: 100px;
    text-align: left;
}

td {
    /* margin-left: px; */
    padding: 16px;     
    color: rgb(255, 255, 255);
    border: 5px;
}

@media (max-width: 1080px) {
.columna1 {float:none;width:100%;}
.columna2 {float:none;width:100%;}
.columna3 {float:none;width:100%;} 
}

/* Pie de pagina */      
.pie_de_pagina {
    width: 100%;
    background-color: #0a1a2a;
    font-family: 'Montserrat', sans-serif;
}
            
.pie_de_pagina .grup-dos {
    background-color: #0a1a2a;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
            
.pie_de_pagina .grup-dos small {
    font-size: 15px;
}